<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="dashboard">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h2>Profile Page</h2>
            <p>Here you can find a detailed profile of the selected user from the initial table. You can see some more detailed info about him/her and also his/her task list.</p>
        </div>
    </div>
</div>
