<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="dashboard">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h2>Task Management Page</h2>
            <p>Here you can manage your tasks. You can add a new task, modify an existing one or delete a task. Below you can see your task list and you can perform any action by using the corresponding buttons.</p>
        </div>
    </div>
</div>
