<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="dashboard">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h2>Welcome to my Task Manager!</h2>
            <p>This is a sample SPA demonstrating how to build a CRUD application with AngularJS and RESTful services.</p>
            <p>You can click a user's first name to see some basic info about her/him and then edit his/her tasks or select the "View Profile" button to see his/her full profile and task list.</p>
        </div>
    </div>
</div>
